<h1>LearnDota</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Faction</th>
      <th>Melee/Range</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @heros.each do |hero| %>
      <tr>
        <td><%= link_to hero.name, hero %></td>
        <td><%= hero.oftype %></td>
        <td><%= hero.faction %></td>
        <td><%= hero.melrange %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
