<div class="row">
  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">Skill Build[Early]
      </div>
      <div class="panel-body">
        <form accept-charset="UTF-8" action="/guides" class="new_guide" id="new_guide" method="post">
          <div style="margin:0;padding:0;display:inline">
            <input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
          </div>

          <div class="form-group">
            <label for="guide_lv1skill">Skill 1</label>
            <br>
            <input id="guide_lv1skill" name="guide[lv1skill]" type="number">
          </div>
          <div class="form-group">
            <label for="guide_lv2skill">Skill 2</label>
            <br>
            <input id="guide_lv2skill" name="guide[lv2skill]" type="number">
          </div>
          <div class="form-group">
            <label for="guide_lv3skill">Skill 3</label>
            <br>
            <input id="guide_lv3skill" name="guide[lv3skill]" type="number">
          </div>
          <div class="form-group">
            <label for="guide_lv4skill">Skill 4</label>
            <br>
            <input id="guide_lv4skill" name="guide[lv4skill]" type="number">
          </div>
          <div class="form-group">
            <label for="guide_lv5skill">Skill 5</label>
            <br>
            <input id="guide_lv5skill" name="guide[lv5skill]" type="number">
          </div>
          <div class="form-group">
            <label for="guide_lv6skill">Skill 6</label>
            <br>
            <input id="guide_lv6skill" name="guide[lv6skill]" type="number">
          </div>
          </div>
      </div>
    </div>
  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">Skill Build[Mid]
      </div>
      <div class="panel-body">
            <div class="form-group">
              <label for="guide_lv7skill">Skill 7</label>
              <br>
              <input id="guide_lv7skill" name="guide[lv7skill]" type="number">
            </div>
            <div class="form-group">
              <label for="guide_lv8skill">Skill 8</label>
              <br>
              <input id="guide_lv8skill" name="guide[lv8skill]" type="number">
            </div>
            <div class="form-group">
              <label for="guide_lv9skill">Skill 9</label>
              <br>
              <input id="guide_lv9skill" name="guide[lv9skill]" type="number">
            </div>
            <div class="form-group">
              <label for="guide_lv10skill">Skill 10</label>
              <br>
              <input id="guide_lv10skill" name="guide[lv10skill]" type="number">
            </div>
            <div class="form-group">
              <label for="guide_lv11skill">Skill 11</label>
              <br>
              <input id="guide_lv11skill" name="guide[lv11skill]" type="number">
            </div>
            <div class="form-group">
              <label for="guide_lv12skill">Skill 12</label>
              <br>
              <input id="guide_lv12skill" name="guide[lv12skill]" type="number">
            </div>
          </div>
      </div>
    </div>
  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">Skill Build[Mid-Late]
      </div>
      <div class="panel-body">
            <div class="form-group">
              <label for="guide_lv13skill">Skill 13</label>
              <br>
              <input id="guide_lv13skill" name="guide[lv13skill]" type="number">
            </div>
            <div class="form-group">
              <label for="guide_lv14skill">Skill 14</label>
              <br>
              <input id="guide_lv14skill" name="guide[lv14skill]" type="number">
            </div>
            <div class="form-group">
              <label for="guide_lv15skill">Skill 15</label>
              <br>
              <input id="guide_lv15skill" name="guide[lv15skill]" type="number">
            </div>
            <div class="form-group">
              <label for="guide_lv16skill">Skill 16</label>
              <br>
              <input id="guide_lv16skill" name="guide[lv16skill]" type="number">
            </div>
            <div class="form-group">
              <label for="guide_lv17skill">Skill 17</label>
              <br>
              <input id="guide_lv17skill" name="guide[lv17skill]" type="number">
            </div>
            <div class="form-group">
              <label for="guide_lv18skill">Skill 18</label>
              <br>
              <input id="guide_lv18skill" name="guide[lv18skill]" type="number">
            </div>
          </div>
      </div>
    </div>
  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">Skill Build[Late]
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="guide_lv19skill">Skill 19</label>
          <br>
          <input id="guide_lv19skill" name="guide[lv19skill]" type="number">
        </div>
        <div class="form-group">
          <label for="guide_lv20skill">Skill 20</label>
          <br>
          <input id="guide_lv20skill" name="guide[lv20skill]" type="number">
        </div>
        <div class="form-group">
          <label for="guide_lv21skill">Skill 21</label>
          <br>
          <input id="guide_lv21skill" name="guide[lv21skill]" type="number">
        </div>
        <div class="form-group">
          <label for="guide_lv22skill">Skill 22</label>
          <br>
          <input id="guide_lv22skill" name="guide[lv22skill]" type="number">
        </div>
        <div class="form-group">
          <label for="guide_lv23skill">Skill 23</label>
          <br>
          <input id="guide_lv23skill" name="guide[lv23skill]" type="number">
        </div>
        <div class="form-group">
          <label for="guide_lv24skill">Skill 24</label>
          <br>
          <input id="guide_lv24skill" name="guide[lv24skill]" type="number">
        </div>
        <div class="form-group">
          <label for="guide_lv25skill">Skill 25</label>
          <br>
          <input id="guide_lv25skill" name="guide[lv25skill]" type="number">
        </div>
      </div>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-lg-9">
    <div class="panel panel-default">
      <div class="panel-heading">Guide
      </div>
      <div class="panel-body">
          <div class="form-group">
            <label for="guide_comment">Description</label>
            <br>
            <textarea id="guide_comment" name="guide[comment]" rows="6" style="width: 100%">
            ----Early Game----

            -----Mid Game-----

            ----Late Game-----
            </textarea>
          </div>
          <div class="form-group">
            <label for="guide_hero_id">Hero</label>
            <br>
            <input id="guide_hero_id" name="guide[hero_id]" type="number">
          </div>
          <div class="actions">
            <button name="commit" type="submit" value="Create Guide" class="btn btn-primary">Submit</button>
          </div>
        </form>
        </div>
      </div>
    </div>
</div>


