<!DOCTYPE html>
<html>
<head>
  <title>LearnDota</title>
  <%= stylesheet_link_tag    "bootstrap" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tags %>
  <div class="">
  </div>
</head>
<body>

<%= yield %>

</body>
</html>